// @values: #ff0000, #00ff00, #0000ff;
// .primary {
//   @include colors(@values...);
// }
.primary{
    width: 140px;
    height: 35px;
    color: #fff;
    font: var(--button-xl-font-size) var(--main-font-family);
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 100px;
}