@font-face {
    font-family: "SourceHanSansCN-Bold";
    src: url("../../assets/SourceHanSansCN-Bold.otf");

    /* src: url("/fonts/SourceHanSansCN-Bold.otf");  npm run dumi  em? */
}

:root {
    --main-bg-color: #9363cf;
    --main-bg-color-2: #d4c1ec;
    --main-bg-color-3: #7983ff;
    --main-text-color: #000;
    --main-font-family: "SourceHanSansCN-Bold";

    /* --main-font-family: "Sans-serif"; */
    --button-md-font-size: 14px;
    --button-xl-font-size: 20px;
    --button-lg-font-size: 16px;
    --button-sm-font-size: 12px;
}
